.flashcard {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 400px; /* prob change to be bigger */
    height: 300px; /* i think 4:3 ratio looks good, might be wrong */
    position: absolute;
    top:50%;
    left:50%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: 2px solid #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Times New Roman';
    font-size: 32px;
    margin: 4px 2px;
    position:absolute;
    top:80%;
}