.timer{
    display: flex;
}

.hours{
    text-align: center;
    font-size: 32px;
}

.minutes{
    text-align: center;
    font-size: 32px;
}

.seconds{
    text-align: center;
    font-size: 32px;
}